extends layout 
 
block content 
  h1= title 
 
  - let earphonesid = toShow._id 
  - let brand = toShow.brand 
  - let model = toShow.model 
  - let price = toShow.price
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{earphonesid} 
  - let actionid = "/resource/earphones/" + earphonesid 
  form(id='EarphonesForm', action= actionid, method="PUT") 
    div.form-group 
        label.earphonesAttr(for='brand') Earphones type 
        input#brand(type='text', name='brand', value= brand ) 
    div.form-group 
        label.earphonesAttr(for='model') Earphones model 
        input#model(type='text', name='model', value= model ) 
    div.form-group 
        label.earphonesAttr(for='price') Earphones price 
        input#price(type='number', name='price', value= price ) 
    input(type="submit") 
 
  script. 
    document.forms['EarphonesForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 
 